* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  background-color: #f5f6f8;
  padding-bottom: 15px;
}
/* heaader */
.header {
  font-size: 14px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  background-color: red;
  color: white;
  padding: 0 30px;
}
.header-item {
  flex: 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: color 0.15s;
}
.header-item:hover {
  color: rgb(84, 75, 219);
}
.search-input {
  padding: 10px 10px;
  border-radius: 10px;
  border: none;
  width: 250px;
}
.search-icon {
  position: absolute;
  right: 7px;
  top: 4px;
}
.trademark img {
  width: 100%;
}
.icon-container {
  margin-right: 10px;
}
.area {
  background: none;
  border: none;
}
/* .tittle::before {
  content: url(../images/header-icon/location.png);
}
.search::after {
  content: url(../images/header-icon/search.png);
}
.cart::before {
  content: url(../images/header-icon/cart.png);
} */
/* menu  */
.menu-container {
  display: flex;
  padding: 0 30px;
  margin-bottom: 5px;
  position: relative;
  background-color: white;
}
.menu-item {
  height: 50px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: color 0.15s;
}
.menu-icon {
  margin-right: 10px;
}
.menu-container div::before {
  content: "|";
  position: absolute;
  left: -3px;
  opacity: 0.5;
}

.product-list-type {
  background-color: rgb(68, 67, 67);
  color: white;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  cursor: pointer;
}
.menu-item:hover {
  color: red;
}
/* banner */
.banner-container {
  display: flex;
  padding: 0 30px;
}
.banner-slide {
  flex: 3;
  position: relative;
  margin-right: 6px;
}
.banner-slide img {
  width: 100%;
  height: 100%;
}
.banner-item {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.banner-item-1,
.banner-item-2 {
  flex: 1;
}
.banner-item-1 {
  margin-bottom: 6px;
}
.left-slide,
.right-slide {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgb(126, 120, 120);
  border: none;
  color: wheat;
  top: 35%;
  font-weight: 600;
  font-size: 20px;
  cursor: pointer;
}
.left-slide {
  left: 1px;
}
.right-slide {
  right: 1px;
}
/* Product display */
.product-list-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 0 30px;
  margin-top: 10px;
  gap: 10px 15px;
}
.product-image-container img {
  margin-top: 20px;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  cursor: pointer;
}
.top-10 {
  margin: 10px;
  padding: 0 40px;
}
.discount {
  margin-right: 5px;
}
.product-item {
  line-height: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  background-color: white;
  border-radius: 10px;
  position: relative;
}
.product-item {
  padding: 0 20px;
}
.new-price {
  color: red;
}
.installment-fee {
  color: red;
  font-size: 8px;
  padding: 0 5px;
  background-color: pink;

  border-radius: 10px;
  position: absolute;
  right: 0;
  top: 0;
}
.price {
  text-decoration: line-through;
  color: rgb(126, 118, 118);
  margin-right: 8px;
}
.product-name {
  max-width: 200px;
  font-size: 15px;
  cursor: pointer;
  transition: color 0.2;
}
.product-name:hover {
  color: blue;
  white-space: inherit;
}
.discount {
  background-color: red;
  color: white;
  padding: 2px 3px;
  border-radius: 4px;
}
.add-to-compare {
  text-decoration: none;
  color: blue;
}
.show-detail-button {
  padding: 6px 10px;
  background-color: rgb(36, 204, 36);
  color: white;
  border: none;
  cursor: pointer;
  transition: color 0.15s;
  transition: ease-in-out 0.15s;
}
.show-detail-button:hover {
  color: red;
  background-color: yellowgreen;
}
/* modal item */

.product-modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
}
.modal-flex {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 450px;
  border-radius: 20px;
  position: relative;
}
.close-modal {
  position: absolute;
  right: 17px;
  top: 10px;
  font-size: 20px;
  padding: 5px;
  width: 8%;
  border-radius: 5px;
  background-color: red;
  text-align: center;
  cursor: pointer;
  transition: color 0.2s;
}
.close-modal:hover {
  color: white;
}
.modal-img {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
}
.modal-item-container {
  flex: 1;
  display: flex;
  justify-content: center;
}
.modal-detail {
  line-height: 1.6rem;
}
.modal-detail h3 {
  margin-bottom: 20px;
  border-bottom: 1px silver solid;
}
.new-price-item {
  font-weight: bold;
  font-size: 20px;
}
.discount-item {
  font-size: 14px;
}
.price-item {
  font-size: 13px;
}
.interest-rate {
  font-size: 13px;
  padding: 1px 5px;
  border: 1px solid red;
  border-radius: 3px;
  margin-right: 5px;
  color: red;
}
.status-item {
  text-align: center;
  font-size: 13px;
  padding: 2px 5px;
  color: white;
  background-color: rgb(47, 212, 47);
  border-radius: 3px;
}
.add-to-cart {
  border: 1px solid red;
  background-color: white;
  color: red;
  margin-top: 10px;
  padding: 10px 20px;
  cursor: pointer;
  transition: opacity 0.15s;
}
.add-to-cart:hover {
  opacity: 0.5;
}
/* modal cart */
.cart-container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  color: black;
}
.cart-fix {
  display: flex;
  flex-direction: column;
  overflow: auto;
  background: white;
  padding: 60px 30px 30px 30px;
  position: relative;
}
.cart-item-flex {
  position: relative;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  line-height: 1.5rem;
}
.cart-img-container {
  margin-right: 15px;
}
.cart-item-info {
  flex: 1;
}
.cart-item-price {
  flex: 1;
}
.cart-item-price p {
  margin: 0;
  text-align: right;
}
.cart-img-container img {
  flex: 2;
  width: 100px;
}
.remove-from-cart {
  position: absolute;
  top: 0;
  right: 0;
}
.add-more {
  display: flex;
  justify-content: end;
}
.add-more p {
  margin: 0 10px;
}
.add-more button {
  text-align: center;
  padding: 3px 7px;
}

.total-cart-pay {
  line-height: 1.6rem;
  display: flex;
  flex-direction: column;
  background-color: azure;
  padding: 5px 10px;
}
.number-flex {
  display: flex;
  justify-content: space-between;
}
.promotion,
.final-price {
  color: red;
}
.pay {
  padding: 0 20px;
  margin-top: 15px;
}
.close-cart {
  position: absolute;
  top: 5px;
  right: 10px;
  background-color: red;
  padding: 5px 10px;
  transition: ease-in-out 0.15s;
  cursor: pointer;
}
.close-cart:hover {
  background-color: white;
  color: red;
}
/* filter button */
.filter-buttons-container {
  margin: 10px 0px;
  padding: 10px 30px;
  display: flex;
  gap: 7px;
}
.filter-buttons-container button {
  padding: 2px 5px;
  border-radius: 10px;
  border: 1px solid rgb(82, 81, 81);
}
/* Product fot you */
.product-for-you {
  margin-top: 30px;
  margin-bottom: 15px;
  text-align: center;
  padding: 15px;
  background-color: red;
  color: white;
}
